$White: #fff;
$Black: #000;

$LightGray: #eaeff7;
$Gray: #bfbfbf; 
$DarkGray: #c8c8c8;

$LightGreen: #ebf1e9;
$Green: #538135;

$LightRed: #fce1e1;
$Red: #c00000;

$LightBlue: #f4f7fb;
$LightBlue2: #eaeff7;
$Blue: #5b9bd5;
$DarkBlue: #206dbe; 
