<div ng-class="{opened: modalOpened}" class="modal-wrapper">
  <div class="modal-content"> 
    <p>{{textMessage}}</p> 
    <div class="button">
      <a ng-click="closeModal()">OK</a>
    </div>
  </div> 
</div>